llama-index==0.12.35
llama-index-embeddings-huggingface
llama-index-llms-google-genai
llama-index-tools-duckduckgo
numpy
pandas
scipy
scikit-learn
# ChromaDB 0.4.14 avoids `OperationalError: attempt to write a readonly database`
chromadb==0.4.14
llama-index-vector-stores-chroma
streamlit
PyPDF2
google-genai==1.14.0
pymupdf4llm
streamlit-pdf-viewer
mistralai